.menu {
  height: 450vh;
}

.submenu .ant-menu-submenu-title {
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: black;
}

.menu .ant-menu-item {
  font-family: 'Arial';
  font-size: 15px;
  color: #345574; 
}

.menu .ant-menu-item-selected {
  font-weight: bold;
  color: #0c30ce;
  background-color: #68686d70;
}
